<!-- sponsors.component.html -->
<section class="sponsors-section">
    <div class="container">
      <div class="section-heading text-center">
        <h5 class="dash-style">Our PARTNERS</h5>
      </div>
      
      <div class="sponsors-slider">
        <div class="sponsors-track">
          <ng-container *ngFor="let sponsor of allSponsors">
            <div class="sponsor-item">
              <a [href]="sponsor.link" target="_blank" rel="noopener noreferrer">
                <img [src]="sponsor.imageUrl" [alt]="sponsor.name" class="sponsor-logo">
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      
      <div class="become-sponsor">
        <a href="mailto:sil25@uca.ac.ma?subject=Become%20a%20Sponsor" class="button-secondary">
          Become a Sponsor
        </a>
      </div>
    </div>
  </section>