<section class="faq-section" id="faq">
    <div class="container">
      <div class="section-heading text-center" data-aos="fade" data-aos-duration="1000">
        <h5 class="dash-style">Frequently Asked Questions</h5>
      </div>
  
      <div class="faq-container" data-aos="fade-zoom-in" data-aos-duration="1500">
        
        <div class="faq-item">
          <button class="faq-question" (click)="toggleFAQ($event)">Key Topics <span class="arrow">&#9662;</span></button>
          <div class="faq-answer">
            <ul>
              <li>Industrial and Logistics Organization and Management (ILOM)</li>
              <li>Industrial and Logistics Information Systems (ILIS)</li>
              <li>Industrial and Logistics Products and Equipment (ILPE)</li>
              <li>Digital Transformation of Industrial and Logistics Systems (DTILS)</li>
            </ul>
          </div>
        </div>
  
        <div class="faq-item">
          <button class="faq-question" (click)="toggleFAQ($event)">Why Attend? <span class="arrow">&#9662;</span></button>
          <div class="faq-answer">
            <ul>
              <li>Engage with leading experts and researchers in industrial and logistics systems.</li>
              <li>Participate in keynote sessions, panel discussions, and technical presentations.</li>
              <li>Discover the latest innovations in industrial and logistics systems.</li>
              <li>Network with academia and industry leaders to explore collaborative opportunities.</li>
              <li>Discover Marrakech, a vibrant city of innovation and culture.</li>
            </ul>
          </div>
        </div>
  
        <div class="faq-item">
          <button class="faq-question" (click)="toggleFAQ($event)">Who Should Attend? <span class="arrow">&#9662;</span></button>
          <div class="faq-answer">
            <ul>
              <li>Researchers & Academics in industrial engineering, logistics, and supply chain.</li>
              <li>Supply Chain Managers, Engineers, and Consultants.</li>
              <li>Policymakers & Government Representatives.</li>
              <li>Graduate & PhD Students.</li>
              <li>Industry Professionals from various sectors.</li>
            </ul>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  