<section class="home-slider-section">
    <div class="home-slider">
        <div class="home-banner-items">
            <div class="banner-inner-wrap" style="background-image: url(assets/images/bg_conf.jpg);"></div>
            <div class="banner-content-wrap">
                <div class="container" data-aos="fade" data-aos-duration="1500">
                    <div class="banner-content text-center">
                        <h2 class="banner-title">The 8th International Conference on Industrial and Logistics Systems (SIL’25)
                        </h2>
                        <h3>“ Digital Transformation in Automotive and Aeronautical Supply Chains ”</h3>
                        <section class="inner-banner-wrap">
                                <div class="container">
                                    <div class="inner-banner-content">
                                        <div class="entry-meta">
                                            <span class="posted-on">
                              <a href="#" routerLink="/home">October 23-25 2025, Marrakech, Morocco</a>
                           </span>
                                        </div>
                                    </div>
                                </div>

                            <div class="inner-shape"></div>
                        </section>
                        <a href="#" class="button-primary" routerLink="/venue">Visit Venue Details</a>
                    </div>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
    </div>
</section>