<section id="awards-section" class="awards-container">
    <div class="section-heading text-center" data-aos="fade" data-aos-duration="1000">
        <h5 class="dash-style">Awards</h5>
    </div>
    <div class="awards-content">
        <p>
            The conference will recognize outstanding contributions with the following awards, 
            which will be announced and presented during the closing session:
        </p>

        <h6 class="award-title">Best Industrial Paper Award</h6>
        <p>Awarded to the most impactful paper showcasing industrial applications, innovations, or case studies.</p>

        <h6 class="award-title">Best Paper Award</h6>
        <p>Only full paper submissions presented at the conference will be eligible for this award.</p>

        <h6 class="award-title">Best PhD Project Award</h6>
        <p>To qualify, the first author must be a registered PhD student at a university. 
           Only full paper submissions presented at the conference will be considered.</p>

        <h6 class="award-title">Outstanding Organizing Award</h6>
        <p>Given to special session chairs in recognition of their exceptional efforts in organizing 
           and contributing to the success of the conference.</p>
    </div>
</section>
