<section id="about-us" data-bgcolor="#eeeeee">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInUp" data-aos="fade-right" data-aos-duration="2000">
        <img src="assets/images/screen-1.png" class="img-responsive" alt="">
      </div>

      <div class="col-md-6 wow fadeInRight" data-aos="fade-left" data-aos-duration="2000">
        <div class="section-heading">
          <h5 class="dash-style">ABOUT SIL</h5>
          <p>The International Conference on Industrial and Logistics Systems (SIL) is a multidisciplinary event that brings together researchers, academics, and industry professionals who share an interest in the fields of Industrial and Logistics Engineering. The conference serves as a platform for discussing and exchanging ideas on the design, optimization, improvement, restructuring, and performance evaluation of industrial and logistics systems in a broad sense.
            SIL primarily focuses on four complementary perspectives of industrial and logistics systems: the Operational perspective, the Informational perspective, the Technological perspective, and the Decision-Making perspective, which is increasingly supported by emerging technologies.</p>
          <h5 class="dash-style">ABOUT SIL’25</h5>
          <p>The 8th edition of SIL (SIL’25) places a particular emphasis on research related to the Digital Transformation in Automotive and Aeronautical Supply Chains. Given the increasing complexity and globalization of these sectors, the conference will highlight approaches that leverage emerging technologies to improve resilience, agility, and efficiency in supply chain operations. Research contributions and professional applications aligned with this theme will be especially valued.</p>
      </div>
    </div>
    </div>
  </div>            
</section>
